ul.footer.footer-social
  li
    | We are on
  if social.facebook
    li
      a(href='https://www.facebook.com/#{social.facebook}')
        i.fa.fa-facebook
        | Facebook
  if social.twitter
    li
      a(href="https://www.twitter.com/#{social.twitter}")
        i.fa.fa-twitter
        | Twitter
  if social.googleplus
    li
      a(href="https://plus.google.com/+#{social.googleplus}")
        i.fa.fa-googleplus
        | Google+
  if social.youtube
    li
      a(href="https://www.youtube.com/c/#{social.youtube}")
        i.fa.fa-youtube
        | YouTube
  if social.github
    li
      a(href="https://github.com/#{social.github}")
        i.fa.fa-github
        | GitHub
