- var scripts = getBlock('scripts').add(["/files/js/jquery.min.js", "files/js/bootstrap.min.js"])
- var styles = getBlock('styles').add(["files/css/bootstrap.min.css", "files/css/font-awesome.min.css", "files/css/site.css"])

//- https://github.com/willianjusten/bootstrap-boilerplate/blob/master/src/templates/index.jade

doctype html
html
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="/files/favicon.ico?#{site.date.getTime()}")
    //- link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
      link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
      link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
      link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
      //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")
      // Styles
    // Styles
    != styles.toHTML()

  body

    // Navbar
    //-nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="/") Welcome
        ul.nav.navbar-nav
        //-
          each doc in getCollection('pages').toJSON()
          - clazz = (document.url === doc.url) ? 'active' : null
          li(typeof="sioc:Page", about=doc.url, class=clazz)
          a(href=doc.url, property="dc:title")= doc.title
    // Main container
    .container
      section#content.content!= content
      hr
      // Footer
      footer
        ul
          li
            a(href="https://www.facebook.com/collabcamp")
              i.fa.fa-facebook
              | Facebook
          li
            a(href="https://www.twitter.com/collabcamps")
              i.fa.fa-twitter
              | Twitter
          li
            a(href="https://plus.google.com/+collabcamp")
              i.fa.fa-googleplus
              | Google+
          li
            a(href="https://www.youtube.com/c/collabcamp")
              i.icon-youtube
              | YouTube
          li
            a(href="https://github.com/collabcamp")
              i.icon-igithub
              | Github

          li
            a(href="https://vine.co/tags/collabcamp")
              i.icon-vine
              | Vine

        //- div(style="font-style:italic; font-size: 12px") Last updated at #{site.date}

    // Scripts
    != scripts.toHTML()
